body{
    background:#5B6E8C;
    
}

#main{
    background: #2B3442;
    width: 508px;
    margin: auto;
    border: solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 150px;
}